<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"  lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Genres</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.id}"></td>
                <td th:text="${genre.nom}"></td>
                <td>
                    <a th:href="@{/genres/{id}/edit(id=${genre.id})}">Modifier</a>
                    <a th:href="@{/genres/{id}/delete(id=${genre.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/genres/add">Ajouter un genre</a>
</body>
</html>
